<html>

<head>
    <title>{{title}}</title>
    <link href="{{relative_path nav_path "assets/css/bootstrap.min.css "}}" rel="stylesheet">
    <link href="{{relative_path nav_path "assets/css/style.css "}}" rel="stylesheet">
</head>
<body>
    <div class="container-fluid row">

        {{> breadcrumbs}}
        <div class="">

            <div class="col-md-3 navigationSidebar">
                <h3>All Nav</h3> {{> nav_global}}
            </div>

            <div class="col-md-9 mainContentContainer">
                <h4>{{title}}</h4> {{{contents}}}
            </div>
        </div>
    </div>
</body>
</html>